<!DOCTYPE html>
<html>
  <head>
    <title>ViewingParty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
      <nav>
        <% if current_user %>
        <div id="container2">
          <div class="login-logout">
            <%= button_to 'Logout', logout_path, method: :get %>
          </div>
          <div class="home-button" id="home-button">
            <%= button_to 'Home', '/dashboard', method: :get %>
          </div>
        </div>
        <% end %>
      </nav>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
